* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Gotham;
  src: url(font/FontsFree-Net-Gotham-Black.ttf);
}
body {
  overflow-x: hidden;
  background: #0c0c0d;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c0c0d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 100vw;
  /* height: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.site-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Loader background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the loader is on top of other elements */
}

/* Customize the loader animation or icon */
.site-loader::after {
  content: '';
  border: 8px solid #3498db; /* Loader color */
  border-top: 8px solid transparent; /* Transparent border for spinner effect */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Loader animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#content {
  display: none; /* Hide the content initially */
}

nav{
  display: flex;
  height: 80px;
  background: #111111;
}
.left{
  color: white;
  font-size: 25pt;
  height: 100%;
  display: flex;
  width: 50%;
  float: left;
}
.left > .name{
  display: flex;
  padding-left: 20px;
  align-items: center;
}
.left > .name > .bold{
  height: auto;
  font-weight: bolder;
  padding-right: 9px;
}
.left > .name > .normal{
  height: auto;
  font-weight: 500;
  /* font-family: Gotham; */
}
.right{
  display: flex;
  width: 50%;
  float: right;
  justify-content: flex-end;
}
/* a{
  float: right;
  text-decoration: none;
  color: white;
} */
.links{
  display: flex;
  align-items: center;
}
.links a{
  font-size: 18pt;
  text-decoration: none;
  color: white;
  margin-left: 100px;
  display: flex;
}

.links > .profile{
  margin-right: 50px;
}

.links > .profile > img{
  max-height: 50px;
  width: auto;
  border-radius: 50%;
  /* border: 4px solid white; */
}

main{
  width: 100%;
  height: auto;
}
#video-container {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden; /* Ensure content within stays visible */
}
#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}


#text-overlay {
  position: absolute;
  height: auto;
  bottom: 50px; /* Adjust the distance from the bottom */
  left: 50px; /* Adjust the distance from the left */
  color: white;
  font-size: 6vw;
  font-weight: 600;
  text-align: left;
  line-height: 1.1;
}